.Acerca__container{
    padding: 150px  22%;
    font-family: Biotif;
}
.Acerca__header{
    width: 100%;
    height: 500px;
    margin-top: 80px;
    background: linear-gradient(to right, #b62153 0%, #da3431 100%);
}
.Acerca__container--title{
    font-family: Biotif-title;
    color: #eb2545;
    font-size: 35px;
}
.Acerca__container--span{
    color: #eb2545;
    font-weight: 900;
    font-size: 18px;
}

.Acerca__header--title{
    font-family: Biotif-title;
    width: 22%;
    height: 30vh;
    margin-top: -250px;
    background-color: #eb2545;
    position: absolute;
    margin-left: 15%;
    font-size: 50px;
    padding: 50px;
    -webkit-text-stroke: 2px white;
    color: transparent;
  

}
.Acerca__header--title img{
    width: 80px;
    border-radius: 50%;
}
.Acerca__header--title-pink{
    color: white; 
}
.Acerca__container--firstContainer{
    display: flex;
}
.Acerca__container--firstContainer img{
    width: 50%;
}
.Acerca__container--firstContainer p{
    padding: 45px;
    margin-top: 180px;
}
.Acerca__container--secondContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 30px 0;
}
.Acerca__container--barratitulo{
    background: #eb2545;
    width: 300px;
    height: 70px;
    margin-left: -55px;
}
.Acerca__container--textotitulo{
    margin-top: -50px;
    margin-left: 65px;
    color: white;
    font-family: Biotif-title;
}

.Acerca__container--textotitulo span{

    color: #eb2545;
}
.Acerca__container--titulo{
    margin: 50px 0;
}
.Acerca__container--tercerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 0 10%; 
}
.Acerca__container--textotituloMision{
    margin-top: -50px;
    margin-left: 85px;
    color: white;
    font-family: Biotif-title;
}
.Acerca__container--textotituloMision span{

    color: #eb2545;
}